{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-sm p-4 rounded-4">
        <h2 class="mb-4">Edit Dish</h2>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="mt-4">
                <button type="submit" class="btn btn-success"> Save Changes</button>
                            <a href="{% url 'mono_app:dish-detail' object.pk %}" class="btn btn-outline-secondary ms-2">← Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
