{% extends "base.html" %}
{% load static %}

{% block title %}Ingredients{% endblock %}

{% block content %}
<h1 class="mb-4"> Ingredients | Mono Kitchen Manage</h1>

<form method="get" class="dish-search-form mb-4 d-flex flex-wrap gap-2">
  <label>
    <input
      type="text"
      name="q"
      class="form-control custom-search-input"
      placeholder="Search ingredients..."
      value="{{ q }}">
  </label>
  <button type="submit" class="btn btn-black">Search</button>
</form>

{% if ingredients %}
<div class="row">
  {% for ingredient in ingredients %}
  <div class="col-md-6 col-lg-4 mb-4">
    <div class="card h-100 shadow-sm">
      <div class="card-body">
        <h5 class="card-title text-capitalize d-flex justify-content-between">
          {{ ingredient.name }}
          {% if ingredient.is_allergen %}
          <span class="badge badge-danger">Allergen</span>
          {% endif %}
        </h5>
        <p class="card-text mb-1"><strong>Quantity:</strong> {{ ingredient.quantity }} {{ ingredient.unit }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="mt-4">
  {% if is_paginated %}
<nav>
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link bg-transparent border-dark text-dark" href="?q={{ q }}&page={{ page_obj.previous_page_number }}">Previous</a>
      </li>
    {% endif %}
    {% for num in paginator.page_range %}
      {% if page_obj.number == num %}
        <li class="page-item active">
          <span class="page-link bg-dark text-white border-dark">{{ num }}</span>
        </li>
      {% elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"3" %}
        <li class="page-item">
          <a class="page-link bg-transparent border-dark text-dark" href="?q={{ q }}&page={{ num }}">{{ num }}</a>
        </li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link bg-transparent border-dark text-dark" href="?q={{ q }}&page={{ page_obj.next_page_number }}">Next</a>
      </li>
    {% endif %}
  </ul>
</nav>
  {% endif %}
</div>
{% else %}
  <p>No ingredients found.</p>
{% endif %}
{% endblock %}
