<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="{% url 'mono_app:index' %}">Kitchen Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="{% url 'mono_app:index' %}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'mono_app:dish-list' %}">Dishes</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Cooks</a></li>
        <li class="nav-item"><a class="nav-link" href="#">DishType</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Ingredients</a></li>
      </ul>
    </div>
    <div class="d-none d-lg-flex ms-auto">
      {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-main">Logout</button>
        </form>
      {% else %}
        <a href="{% url 'login' %}" class="btn btn-main">Login</a>
      {% endif %}
    </div>
  </div>
</nav>
